/* from XGEE, slightly modified */
:root {
  --color-dark: #FFFFFF;
  --background-color-dark: #222222;
  --border-color-dark: #4b8ce4;
  --color-normal: #FFFFFF;
  --background-color-normal: #222222;
  --border-color-normal: #1193de;
  --color-light: #9eadbd;
  --background-color-light: #FFFFFF;
  --border-color-light: #1193de;
  --color-hover: #00ccff;
  --background-color-hover: #4b8ce4;

  --link-color: #1193de;
  --link-color-hover: #00ccff;


 
  --jsa-color-excited-hover:#349ff3; /*background excited tab (under curser)*/
  --jsa-popup-bg-color:#222222;
  --jsa-dialog-bg-color:#349ff3bb; /*background of inactive tab*/
  --jsa-ctrl-bg-color-button:#00ccff;
  --jsa-ctrl-bg-color-button-hover:#1193de;
  --jsa-ctrl-color-button:#4b8ce4;
  --jsa-popup-bd-color:#537394;
  --jsa-popup-color:#FFFFFF;
  --jsa-color-excited: #00ccff;

  --jsa-bd-color: #349ff3; /*background of active tab*/
}

/* Nav links */
.nav-link.disabled {
    color: #9ac8f1;
    pointer-events: none;
    cursor: default;
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-color-hover);
}



@keyframes jsa-loading-annimation {
  from {
    background-position: 20rem 0px;
  }
  to {
    background-position: 0rem 0px;
  }
}


/* Title bar */ 

.jsa-app-titlebar {
    height: var(--jsa-app-title-bar-h);
    width: 100%;
    color: var(--jsa-dialog-color);
    background-color:  #222222;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Dashboard */

.dashboard-view .jsa-view-header{
    background-color: #00ccff;
}

/* Bubble and Properties pane*/
.jsa-bubble{
    color: #FFFFFF
}

.properties-view .description
{
    color:  #FFFFFF !important;
}

.properties-pane .feature{
    color:#FFFFFF;
}




/* VIEWS */
.workspace-view .jsa-view-header{
    background-color: var(--border-color-dark) !important;
  }
  
  .dashboard-view .jsa-view-header{
    background-color: var(--border-color-dark) !important;
  }
  
  .graph-view-oaam-functions .jsa-view-header{
    background-color: var(--border-color-dark) !important;
  }
  .graph-view-oaam-hardware .jsa-view-header{
    background-color: var(--border-color-dark) !important;
  }
  .graph-view-oaam-allocations .jsa-view-header{
    background-color: var(--border-color-dark) !important;
  }

/* special: markdown view settings */
  .md-view-container {
    /* imitate behavior of gitlab md view. Gitlab has 990px, but smaller font size */
    max-width: 1030px; 
    margin-left: auto;
    margin-right: auto;
    padding: 32px;
  }
  
  .md-view-container img {
    max-width: 940px;
  }
  
  /* TABBAR */
  
  /* .views-tabbar {
    background-color: var(--tab-background-color);
  } */
  
  .views-tabbar .jsa-tab {
    border: 1px solid var(--color-dark) !important;
    color: var(--color-dark) !important;
  }
  
  .views-tabbar .jsa-tab-active {
    border: 1px solid var(--border-color-dark) !important;
    background-color: #349ff3 !important;
    /* color: var(--color-dark) !important; */
  }
  
  .views-tabbar .jsa-tab:hover {
    background-color: var(--border-color-dark) !important;
    background-color: var(--border-color-dark) !important;
    border-top: 1px solid var(--views-tabbar-tab-border-color-active);
    /* color: var(--color-dark) !important; */
  }


